body {
  font-family: poppins, sans-serif;
}
#navbar {
  background-color: black;
  text-decoration: none;
}

#searchBar {
  width: 300px;
}

.nav-link:hover {
  color: orangered;
  text-decoration: none;
}
#searchBarforsmallsection {
  width: 200px;
}



