

body{
    background-color: 	#000133;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#navbar{

    background-color: black;
    text-decoration: none;
}

#searchBar{
    width: 300px;   
}

.nav-link:hover{
    border: 3px solid lightseagreen;
    text-decoration: none;
}
#searchBarforsmallsection{
    width: 200px;
    
}

